* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    height: 100%;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body {
    font-family: 'Roboto Mono', monospace; 
    background: rgb(255, 254, 245);
    max-width: 1440px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.heading-text {
    margin-top: 1.5em;
}

.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid black;
    width: 100%;
    cursor: pointer;
}

.accordion-href {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
  
.accordion-content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 2%;
}

.bar {
    border: solid rgb(0, 0, 0);
    width: 100%;
}

.bar-2 {
    transform: translateY(-100%) rotate(90deg);
}

.accordion-header:target {
    /* Add the active class to the clicked element */
    font-weight: bold;
}

/* Keep the active element styled permanently */
.accordion-header.active {
    font-weight: bold;
}
  
/* Target the clicked accordion element */
.accordion-header:target + .accordion-content {
    max-height: 100%;
}

/* Keep the clicked accordion element open permanently */
.accordion-header.active + .accordion-content {
    max-height: 100%;
}
  
/* Target the other accordion elements on hover */
.accordion-header:not(:target):not(.active):hover + .accordion-content, .accordion-content:hover {
    max-height: 100%;
}

.accordion-header:target .button {
    transform: rotate(45deg);
}

.accordion-header:hover .button {
    transform: rotate(45deg);
}

.accordion-header:target.accordion-content:hover .button {
    transform: rotate(45deg);
}